[package]
name = "trussed"
version = "0.1.0"
authors = ["Nicolas Stalder <n@stalder.io>"]
edition = "2018"
repository = "https://github.com/trussed-dev/trussed"
license = "Apache-2.0 OR MIT"
description = "Modern Cryptographic Firmware"
readme = "README.md"

[dependencies]
# general
bitflags = "1.2"
embedded-hal = { version = "0.2.3", features = ["unproven"] }
generic-array = "0.14.4"
heapless = { version = "0.6", features = ["serde"] }
nb = "1"
rand_core = "0.5"
serde = { version = "1.0", default-features = false }
serde_cbor = { version = "0.11.0", default-features = false }
zeroize = { version = "1.2", features = ["zeroize_derive"] }

# RustCrypto
aes = { version = "0.6", default-features = false }
block-modes = { version = "0.7", default-features = false }
chacha20 = { version = "0.6", features = ["rng"] }
chacha20poly1305 = { version = "0.7", default-features = false, features = ["heapless", "reduced-round"] }
des = { version = "0.6", optional = true }
hmac = "0.10"
sha-1 = { version = "0.9", default-features = false, optional = true }
sha2 = { version = "0.9", default-features = false }

# ours
cosey = "0.2.0"
delog = "0.1.0"
cbor-smol = "0.2.0"
heapless-bytes = { version = "0.2.0", features = ["cbor"] }
interchange = "0.1.2"
littlefs2 = "0.2.1"
serde-indexed = "0.1.0"

[dependencies.nisty]
version = "0.1.0-alpha.5"
features = ["cose", "asn1-der"]

[dependencies.salty]
git = "https://github.com/ycrypto/salty"
branch = "main"
features = ["cose"]

[dev-dependencies]
# Testing
serial_test = { version = "*" }
entropy = "0.3.0"
rand_core = { version = "0.5", features = ["getrandom"] }

[features]
default = ["default-mechanisms"]
verbose-tests = ["littlefs2/ll-assertions"]
verbose-lfs = ["littlefs2/ll-assertions", "littlefs2/ll-trace"]

log-all = []
log-none = []
log-info = []
log-debug = []
log-warn = []
log-error = []

# mechanisms
# default-mechanisms = ["aes256-cbc", "chacha8-poly1305", "ed255", "hmac-sha256", "p256", "sha256", "trng"]
default-mechanisms = [
    "aes256-cbc",
    "chacha8-poly1305",
    "ed255",
    "x255",
    "hmac-sha256",
    "p256",
    "sha256",
    "tdes",
    "totp",
    "trng",
]
aes256-cbc = []
chacha8-poly1305 = []
ed255 = []
x255 = []
hmac-sha256 = []
p256 = []
sha256 = []
tdes = ["des"]
totp = ["sha-1"]
trng = ["sha-1"]

clients-2 = []
clients-3 = []
clients-4 = []
clients-5 = []
clients-6 = []
clients-7 = []
clients-8 = []
clients-9 = []
clients-10 = []
clients-11 = []
clients-12 = []

# [patch.crates-io]
# interchange = { git = "https://github.com/trussed-dev/interchange", branch = "main" }
