name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - thumbv7em-none-eabi

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        run: |
          rustup show
          rustup target add ${{ matrix.target }}

      - name: Install build dependencies
        run: >
          sudo apt-get update -y -qq &&
          sudo apt-get install -y -qq llvm libc6-dev-i386 libclang-dev

      - uses: fiam/arm-none-eabi-gcc@v1
        with:
          release: "9-2020-q2"

      - name: Build
        run: cargo build --verbose --target ${{ matrix.target }}

      - name: Check all targets with default features
        run: cargo check --all-targets
        if: matrix.target == 'x86_64-unknown-linux-gnu'

      - name: Check all features and targets
        run: cargo check --all-features --all-targets
        if: matrix.target == 'x86_64-unknown-linux-gnu'

      - name: Run tests
        run: cargo test --verbose --features serde-extensions,virt
        if: matrix.target == 'x86_64-unknown-linux-gnu'

      - name: Check formatting
        run: cargo fmt -- --check
        if: matrix.target == 'x86_64-unknown-linux-gnu'

      - name: Check clippy lints
        run: make clippy
        if: matrix.target == 'x86_64-unknown-linux-gnu'

      - name: Check documentation
        run: RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --features serde-extensions,virt
        if: matrix.target == 'x86_64-unknown-linux-gnu'
